/* buttons */

button,
.button {
    font-size: inherit;
    line-height: 1;
    background-color: $color-links;
    font-size: inherit;
    color: #fff;
    display: inline-block;
    padding: 1em;
    margin: .5em;
    border: 1px solid $color-links;
    border-radius: .5em;
    cursor: pointer;

    &:hover {
        background-color: $color-dark-links;
        border: 1px solid $color-dark-links;
        color: #fff;
    }

    &.alt {
        color: $color-dark-links;
        background-color: #fff; 

        &:hover {
            background-color: $color-dark-links;
            color: #fff; 
            border-color: $color-dark-links;
        }

    }
}